APP_ID=6aae1924ae6f6872ca52
APP_SECRET=shbD4x2fHEe8s7LnRqjbLw==
SIGNING_KEY=bd104ad3a580d4c395cc84093fbad0de322911868b05b86c839e08cf1fde2d6b
APP_STORE_URL=https://app-store-api.channel.io
PORT=3000

# Local debugging only. Never enable this in production.
SKIP_SIGNATURE_VERIFICATION=false
